.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    place-self: center;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: #626262;
    background: #ebfffc;
  }
  .search-bar img{
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #ebfffc;
    cursor: pointer;
    background: #fff;
} 
  .weather-icon {
    width: 150px;
    margin: 30px 0;
  }
  
  .temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
  }
  
  .location {
    color: #fff;
    font-size: 40px;
  }
  
  .weather-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    margin-top: 40px;
  }
  
  .weather-data .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
  }
  .weather-data .col img {
    margin-bottom: 5px;
  }
  
  .weather-data .col p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .weather-data .col span {
    color: #888;
    display: block;
    font-size: 16px;
  }
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    .temperature {
      font-size: 36px;
    }
  
    .location {
      font-size: 20px;
    }
  
    .weather-data .col p {
      font-size: 16px;
    }
  
    .weather-data .col span {
      font-size: 12px;
    }
  }
